extend layouts/main-layout.pug

block style 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    
block content
    main
      form.product-form(action="/admin/product" method="post")
        .form-control
          label(for="name") Product name
          input(type="text" name="name" id="name")

        button(type="submit") Create product

