extend ../layouts/main-layout.pug

block style 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    
block content
    main 
        .grid 
            each product in prods
                article.card.product-item 
                    header.card__header
                        h1.product__title #{product.name}
                    .card__image
                        img(src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1700524800&semt=sph" alt="" srcset="")
                    .card__content 
                        h2.product___price #{product.price}
                        p.product__description #{product.description} 
                    .card__actions
                        button.btn add to cart
